body, h1,h2,h3,h4,h5,h6 {font-family: 'Nunito', sans-serif;}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}



.w3-sand nav{
    color: #fff;
    
}
#Napis_glowny{
    font-family: 'Pushster', cursive;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c78100 #eec67c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #eec67c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c78100;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }