body, h1,h2,h3,h4,h5,h6 {font-family: 'Nunito', sans-serif; }
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px;font-size: 1.2rem;}
html{
  scroll-behavior: smooth;
  
}
.proximityscroll{
  scroll-snap-type: y mandatory;
}



.w3-sand nav{
    color: #fff;
    
}
#Napis_glowny{
    font-family: 'Pushster', cursive;
    font-size: 7rem;
    margin-bottom: 6rem;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #7a5001 #4d370e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #7a5001;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4d370e;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }